nav ul a,nav .brand-logo {
	color: #444;
}
.button-collapse {
	color: #26a69a;
}/*
.parallax-container{
	height: 30%;
}*/
.parallax-container {
	min-height: 600px;
	height: 700px;
}
.center{
	display: flex;
	flex-direction: column;
	align-items: center !important;
}
.page-footer{
	margin-top: 0.1px !important;
	background: #2484E7 !important;
}
.baja{
	margin-top: 10%;
}
.imagen{
	margin-left:40%;
	margin-top: 10%;
}
@media screen and (max-width: 410px){
	.imagen{
		margin-top:30% !important;
		margin-left:27% !important;
	}	
	.baja{
		margin-top: 15%;
	}
}
@media screen and (max-width: 560px){
	.parallax-container {
		height: 200px;
	}
	.imagen{
		margin-left:24.5% !important;
		width: 110px;
		margin-top: 25% !important;
	}
	img{
		max-width: 100%;
	}
	.grande{
		height: 50px !important;
	}
}
@media screen and (max-width: 800px){
	.imagen{
		margin-top: 18%;
		margin-left:35%;
		width: 200px;
	}
}

@media screen and (max-width: 930px){
	.baja{
		margin-top: 5%;
	}
	.imagen{
		margin-top: 18%;
		margin-left:35%;
		width: 200px;
	}
	.parallax-container {
		height: 100px;
	}
}