nav ul a,nav .brand-logo {
	color: #444;
}
.button-collapse {
	color: #26a69a;
}/*
.parallax-container{
	height: 30%;
}*/
.parallax-container {
	min-height: 380px;
	height: 594px;
}
.page-footer{
	bottom: -100px;
	background: #2484E7 !important;
}
#negro{
	margin-top: 140px; 
	color: white;
}
.imagen{
	margin-left:40%;
}
@media screen and (max-width: 410px){
	.imagen{
		margin-left:35%;
	}	
}
@media screen and (max-width: 500px){
	.parallax-container {
		height: 200px;
	}
	#negro{
		font-size: 3em;
		margin-top: 100px;
		color: white;
	}
	.imagen{
		margin-left:25% !important;
		width: 110px;
	}
	img{
		max-width: 100%;
	}
	.grande{
		height: 50px !important;
	}
}
@media screen and (max-width: 950px){
	.parallax-container {
		height: 100px;
	}
	#negro{
		font-size: 3.6em;
		margin-top: 50px;
		color: white;
	}
	.imagen{
		margin-left:40%;
		width: 200px;
	}
}