nav ul a,nav .brand-logo {
	color: #444;
}
.button-collapse {
	color: #26a69a;
}/*
.parallax-container{
	height: 30%;
}*/
.parallax-container {
	min-height: 380px;
	height: 594px;
}
.page-footer{
	background: #2484E7 !important;
}
#negro{
	margin-top: 140px; 
	color: white;
}
.imagen{
	margin-left:40%;
}
@media screen and (max-width: 480px){
	.parallax-container {
		height: 200px;
	}
	#negro{
		margin-top: 100px;
		color: white;
	}
	.imagen{
		margin-left:35%;
		width: 120px;
	}
	img{
		max-width: 100%;
	}
	.grande{
		height: 50px !important;
	}
}